<section>
    <form [formGroup]=" coseResetForm" class="max-w-sm mx-auto" (ngSubmit)="handleForm()">
        <div class="mb-3">
        <label for="code" class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Enter the code</label>
        <input #inputEmail formControlName="resetCode" type="text" id="code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="6-digit-code" />
          <div *ngIf=" coseResetForm.get('resetCode')?.errors && ( coseResetForm.get('resetCode')?.touched || inputEmail.value.length > 0)">
            <p *ngIf=" coseResetForm.get('resetCode')?.getError('required')" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> code is required</p>
        </div>
        </div>
        <button type="submit" class="block mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        <p *ngIf="errMsg" class="text-center mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> {{errMsg}} </p>
    </form>
    </section>